html,body {
    margin: 0.25em;
    padding: 0.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 420px;
    height: 420px;
    border: solid black;
    display: flex;
    flex-flow: row wrap;
}

.grid div {
    width: 15px;
    height: 15px;
}

.pac-dot {
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: green;
    border-radius: 7.5px;
}

.pacman {
    background-color: yellow;
    border-radius: 7.5px;
}

@media (min-width: 768px) and (min-height: 768px) {
    .grid {
        width: 630px;
        height: 630px;
    }

    .grid div {
        width: 22.5px;
        height: 22.5px;
    }

    .pac-dot {
        border: 7.5px solid white;
    }

    .power-pellet {
        border-radius: 11.25px;
    }

    .pacman {
        border-radius: 11.25px;
    }
}

@media (min-width: 1024px) and (min-height: 768px) {
    .grid {
        width: 945px;
        height: 945px;
    }

    .grid div {
        width: 33.75px;
        height: 33.75px;
    }

    .pac-dot {
        border:11.25px solid white;
    }

    .power-pellet {
        border-radius: 16.875px;
    }

    .pacman {
        border-radius: 16.875px;
    }
}

@media (min-width: 2560px) and (min-height: 768px){
    .grid {
        width: 1417.5px;
        height: 1417.5px;
    }

    .grid div {
        width: 50.625px;
        height: 50.625px;
    }

    .pac-dot {
        border:16.875px solid white;
    }

    .power-pellet {
        border-radius: 25.3125px;
    }

    .pacman {
        border-radius: 16.875px;
    }
}